<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>EnableGlobbing</key>
  <true/>
  <key>Label</key>
  <string>com.genkisugimoto.pomodoro.spur</string>
  <key>ProgramArguments</key>
  <array>
    <string>osascript</string>
    <string>~/dotfiles/macfiles/applescripts/pomodoro_spur.applescript</string>
  </array>
  <key>StartInterval</key>
  <integer>300</integer>
</dict>
</plist>
