[submodule "submodules/gitignore"]
	path = submodules/gitignore
	url = http://github.com/github/gitignore
[submodule "submodules/antigen"]
	path = submodules/antigen
	url = http://github.com/zsh-users/antigen
[submodule "submodules/vimperator-plugins"]
	path = submodules/vimperator-plugins
	url = http://github.com/vimpr/vimperator-plugins.git
[submodule "vimfiles/vim/bundles/neobundle.vim"]
	path = vimfiles/vim/bundles/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "submodules/yadr"]
	path = submodules/yadr
	url = https://github.com/skwp/dotfiles
[submodule "submodules/org-mode"]
	path = submodules/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "submodules/vimperator-labs"]
	path = submodules/vimperator-labs
	url = https://github.com/briceburg/vimperator-labs
