vimfiles/vim/bundles/*
!vimfiles/vim/bundles/NeoBundle.lock
vimfiles/vim/neobundlefile_compiled.vim
vimfiles/vim/cache

*.zwc

emacs.d/auto-save-list
emacs.d/css
emacs.d/el-get
emacs.d/el-get-init-files/*.elc
emacs.d/elpa
emacs.d/icons
emacs.d/scripts
emacs.d/var
emacs.d/bookmarks

gitfiles/git_template/*

miscfiles/vimperator/info

clicoder.d/config.yml

node_modules
