# systemd services must be enabled manually per computer
systemd-user/default.target.wants
systemd-user/timers.target.wants
# ignore config overrides (meant for per-host overrides)
systemd-user/*.d/

vimfiles/vim/bundles/*
!vimfiles/vim/bundles/NeoBundle.lock
vimfiles/vim/neobundlefile_compiled.vim
vimfiles/vim/cache

/nvim/dein
/nvim/deinrc-generated.vim
/nvim/init.local.vim

*.zwc

emacs.d/auto-save-list
emacs.d/css
emacs.d/el-get
emacs.d/el-get-init-files/*.elc
emacs.d/elpa
emacs.d/icons
emacs.d/scripts
emacs.d/var
emacs.d/bookmarks

gitfiles/git_template/*

miscfiles/vimperator/info

clicoder.d/config.yml

node_modules
