vimfiles/vim/bundles/*
!vimfiles/vim/bundles/manual
vimfiles/vim/neobundlefile_compiled.vim
vimfiles/vim/cache

emacs.d/auto-save-list
emacs.d/css
emacs.d/custom.el
emacs.d/el-get
emacs.d/el-get-init-files/*.elc
emacs.d/elpa
emacs.d/icons
emacs.d/scripts
emacs.d/var
emacs.d/bookmarks

Gemfile.lock
!Gemfile.local

gitfiles/git_template/*

miscfiles/vimperator/info

clicoder.d/config.yml

node_modules
