<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
%plist{version: "1.0"}
  %dict
    %key Label
    %string genki.get-shit-done.work
    %key ProgramArguments
    %array
      %string= "#{ENV['MYBUNDLES']}/get-shit-done/get-shit-done"
      %string work
    %key StartCalendarInterval
    %dict
      %key Minute
      %integer 0
      %key Hour
      %integer 4
