[Unit]
Description=Runs startup script on user login
After=graphical-session.target docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash %h/systemd-user-startup-service.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
