tmp
elpa
\#*
auto-save-list
/tramp
/var/pcache/gh/gh-gist-api/leoc
/eshell/history
/eshell/lastdir
/bookmarks
/.mc-lists.el
/%backup%~
/recentf
/savehist
/saveplace
/url/cookies
/ac-comphist.dat
/.org-id-locations
/projectile.cache
/projectile-bookmarks.eld
